<!DOCTYPE html>
<!-- saved from url=(0066)file:///C:/Users/owner/Desktop/3-2%EB%B3%B5%EC%82%AC%EB%B3%B8.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>3-2</title>

<style>
‪body{
  background-color:#f7f7f7;
}
#p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#top{
  background-color:white;
  height:50px;
  margin-top:-10px;
}
#ins{
   display:inline;
  margin-right: 0px;
  margin-left: 200px;
  margin-top: 0px;
  padding-top: 0px;
  border-top-width: 100px;
}
#ins1{
  margin-top: 0px;
  padding-top: 0px;
  font-family: &#39;Jim Nightshade&#39;, cursive;
  font-size: 30px;
}
#search{
  display:inline;
  vertical-align:middle;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}
#button{
  vertical-align: middle;
  width: 216px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color:#f7f7f7;
}
#picture{
  margin-left: 0px;
  display:inline;
}
#picture1{
  width: 150px;
  margin-top: 5px;
  height: 35px;
}
#container{
    height: 600px;
     margin-left: 50px;
    margin-right: 0px;
    width: 1200px;
}
#me{
    background-color: #f7f7f7;
}
#src{
  width: 150px;
  height: 150px;
  margin-left: 200px;
  margin-top: 30px;
  background-color: #f7f7f7;
}
#totalname{
  display:inline;
  width: 400px;
  height: 30px;
  float: right;
  margin-right: 400px;
  margin-top: 30px;
}
#name{
  display: inline;
  font-size: 23px;
  margin-right: 10px;
}
#edit{
    display: inline;
}
#editbutton{
  height: 26px;
  margin-bottom: 5px;
  border-bottom-width: 2px;
  padding-bottom: 1px;
  width: 116px;
  background-color: #f7f7f7;
  border: 1px solid gainsboro;
}
#button{
    display: inline;
}
#oobutton{
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding-bottom: 1px;
  padding-top: 5px;
  text-align: center;
}
#explain{
  display: inline;
    float: right;
    width: 500px;
    margin-top: 20px;
    margin-right: 300px;
}
#post{
   display: inline;
    margin-right: 50px;
}
#follower{
   display: inline;
    margin-right: 50px;
}
#follow{
   display: inline;
}
#bname{
  display:inline;
  margin-top: 100px;
}
#picture_array{
   width: 800px;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
}
#for1{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}
#for2{
  ;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
#for3{

    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
#for4{

    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
#for5{

    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
#for6{

    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}
.control{
  width: 200px;
    height: 200px;
}
#Modal{
  height: 100%;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
display:none;
}
#modalcontent{
   width: 300px;
    margin-left: 480px;
    margin-right: 480px;
    background: white;
    margin-top: 200px;
}
#logout1{
   text-align: center;
    margin-bottom: 0px;
    height: 30px;
    margin-top: 20px;
    padding-top: 8px;
}
#line{
   height: 2px;
    background: blue;
}
#cancel1{
   text-align: center;
    margin-top: 6px;
    height: 30px;
}
#second_modal{
   height: 100%;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  display:none;

}
#modals{
   width: 300px;
    margin-left: 480px;
    margin-right: 480px;
    background: white;
    margin-top: 200px;

}
#change1{
  text-align: center;
    margin-bottom: 0px;
    height: 30px;
    margin-top: 20px;
    padding-top: 8px;
}
#delete1{
  text-align: center;
    margin-top: 6px;
    height: 30px;
    margin-bottom: 0px;

}
#take1{
  text-align: center;
    margin-top: 6px;
    height: 30px;
    margin-bottom: 0px;
}
#upload1{
  text-align: center;
    margin-top: 6px;
    height: 30px;
    margin-bottom: 0px;
}
#quit1{
  text-align: center;
    margin-top: 6px;
    height: 30px;
}
#line1{
   height: 2px;
    background: blue;
}
#line2{
   height: 2px;
    background: blue;
}
#line3{
   height: 2px;
    background: blue;
}
#line4{
   height: 2px;
    background: blue;
}
.imgclass{
  width:230px;
  height:200px;
  display: inline-block;
  margin-right:25px;
  margin-bottom:25px;
  float:left;
}
</style></head>

<body>
  <div id="top">
    <div id="ins">
      <span id="ins1">INSTAGRAM</span></div>
    <div id="search" style="border:1px solid #f7f7f7;">
      <button id="button" onmousedown="shift()" onmouseup="re()"><p id="p">Search</p></button>
    </div>
    <span id="picture">
      <img id="picture1" src="./3-2_files/insta1.png">
    </span>
  </div>
  <div id="container">
    <div id="profile">
      <span id="me">
        <img id="src" src="./3-2_files/instatitle.png">
      </span>
      <div id="contain" style="
    height: 180px;
    display: inline;
    float: right;
    width: 800px;
">
      <div id="totalname">
      <div id="name">
        Lee Jung Soo
      </div>
      <div id="edit">
        <input id="editbutton" type="button" value="Edit profile">
      </div>
      <div id="button">
        <input id="oobutton" type="button" value="o o o">
      </div>

     </div>
     <div id="explain">
       <div id="post">
         Posting 80
       </div>
       <div id="follower">
         Follower 167
       </div>
       <div id="follow">
         Follow 167
       </div>
     </div>
     <div id="bname">
       <p style="
    width: 100px;
    height: 20px;
    margin-top: 120px;
    font-size: 20px;
"><b>Lee</b></p>
     </div>
   </div>
 </div>
 <div id="picture_array">

<div></div><img src="./3-2_files/image1.png" class="imgclass"><div></div><img src="./3-2_files/image2.png" class="imgclass"><div></div><img src="./3-2_files/image3.png" class="imgclass"><div></div><img src="./3-2_files/image4.png" class="imgclass"><div></div><img src="./3-2_files/image5.png" class="imgclass"><div></div><img src="./3-2_files/image6.png" class="imgclass"><div></div><img src="./3-2_files/image1(1).png" class="imgclass"><div></div><img src="./3-2_files/image2(1).png" class="imgclass"><div></div><img src="./3-2_files/image3(1).png" class="imgclass"><div></div><img src="./3-2_files/image4(1).png" class="imgclass"><div></div><img src="./3-2_files/image5(1).png" class="imgclass"><div></div><img src="./3-2_files/image6(1).png" class="imgclass"></div>
</div>


<div id="Modal">
  <div id="modalcontent">
    <div id="logout">
      <p id="logout1">Log Out</p>
    </div>
    <div id="line">
    </div>
    <div id="cancel">
      <p id="cancel1">cancel</p>
    </div>
  </div>
</div>

<div id="second_modal" style="display: none;">
  <div id="modals">
     <div id="change">
       <p id="change1">Change Picture</p>
     </div>
     <div id="line1"></div>
     <div id="delete">
       <p id="delete1" style="
    margin-bottom: 0px;
    margin-top: 6px;
">Delete Image</p>
     </div>
     <div id="line2"></div>
     <div id="take">
       <p id="take1">Take Photo</p>
     </div>
     <div id="line3"></div>
     <div id="upload">
       <p id="upload1">Upload Image</p>
     </div>
     <div id="line4"></div>
     <div id="quit">
       <p id="quit1">Quit</p>
     </div>
   </div>
 </div>
 <div id="imagemodal">
   <p>Like 100</p>
 </div>

<div class="imgmodal">
  <div class="imgmodalcontent">
    <div class="imgmodalpic" style="display:inline-block;width: 400px;height: 400px;margin-left: 250px;">
      <img src="./3-2_files/image1.png" class="standard" style="
    width: 400px;
    height: 300px;
">
    </div>
    <div id="texts" style="
    width: 400px;
    float: right;
    margin-right: 180px;
">
      <img src="./3-2_files/instatitle(1).png" class="institle" style="
    width: 60px;
    height: 60px;
    display: inline-block;
">
      <p style="
    float: right;
    margin-right: 200px;
    width: 120px;
    height: 21px;
">Lee Jung Soo</p>
      <div class="lines" style="
    height: 2px;
    color: gray;
    background: #f7f7f7;
    width: 380px;
"></div>
      <p style="
    margin-top: 8px;
">Like 100</p>
      <p style="
    margin-bottom: 5px;
">Exellent!!!</p>
      <p style="
    margin-top: 5px;
">This picture is lit!!</p>
      <div class="" "lines"="" style="
    height: 2px;
    color: gray;
    background: #f7f7f7;
    width: 380px;
"></div>
    </div>
  </div>
</div>



  <script>
  var img=new Array();
    img[0]=new Image();
    img[0].src="image1.png";
    img[1]=new Image();
    img[1].src="image2.png";
    img[2]=new Image();
    img[2].src="image3.png";
    img[3]=new Image();
    img[3].src="image4.png";
    img[4]=new Image();
    img[4].src="image5.png";
    img[5]=new Image();
    img[5].src="image6.png";

    for(var i=0;i<img.length;i++){
      var main=document.getElementById('picture_array');
      var mainimg=document.createElement('div');
      img[i].className='imgclass';
      main.appendChild(mainimg);
      main.appendChild(img[i]);
    }
    img[0].onclick=function(){
      modal.style.display='block';
    }
    img[2].onclick=function(){
      modal.style.display='block';
    }

/*  for(var i=1;i<7;i++){
  var elem = document.createElement("img");
  var elemimage = document.createElement('div');
  var onmouse=elemimage.getAttribute('onmouseover');
elem.setAttribute("src", "image"+i+".png");
elem.setAttribute("height", "200");
elem.setAttribute("width", "230");
elem.setAttribute("z-index","2");
elemimage.setAttribute("position","absolute");
elemimage.setAttribute('id','imagemodal');
elemimage.setAttribute("height", "200");
elemimage.setAttribute("width", "230");
elemimage.setAttribute("background","dark");
document.getElementById("for"+i).appendChild(elem);
elem.appendChild(elemimage);
elem.onmouseover=function(){
  elemimage.style.display="block";
  elemimage.style.color="red";
}
elem.onmouseout=function(){
  elemimage.style.display="none";
  elemimage.style.background="blue";
}

}*/

var btn=document.getElementById('oobutton');
var modal=document.getElementById('Modal');
var exit=document.getElementById('cancel');

var btn1=document.getElementById('src');
var modal1=document.getElementById('second_modal');
var quit1=document.getElementById('quit');

btn1.onclick=function(){
  modal1.style.display='block';
}
quit1.onclick=function(){
  modal1.style.display='none';
}
btn.onclick=function(){
  modal.style.display='block';
}
exit.onclick=function(){
  modal.style.display='none';
}
function shift(){
document.getElementById('button').style.background="white";
  document.getElementById('button').style.color="gray";
  document.getElementById('p').style.float="left";
  document.getElementById('search').style.background="#f7f7f7";
}
function re(){
  document.getElementById('button').style.color="black";
  document.getElementById('button').style.background="#f7f7f7";
  document.getElementById('p').style.float="none";
    document.getElementById('search').style.background="#f7f7f7";
}

function change1(x){
  x.style.background="rgba(0,0,0,0.4)";
}
function out1(x){
  x.style.display="nne";
}



  </script>










</body></html>
