<!DOCTYPE html>
<html>
<head>
<title>logoutpage</title>
<script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><a href='/homework'>Instagram</a></h1>
<h2>Hello <%=user %>!</h2>
<ul>
<li><a href='/homework/h_logout'>Logout</a></li>
<li><a href='/homework/userlists'>Users</a></li>
</ul>
</body>
</html>
