
<!-- saved from url=(0045)file:///C:/Users/owner/Desktop/Instagram.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Instagram</title>

    <style>
    body{
      background-color: #f7f7f7;
    }
    #image{
      position: absolute;
      width: 400px;
      margin-left: 300px;
    }
    #include{
      width: 350px;
      float: right;
      margin-right: 200px;
      height: 570px;
    }
    #one{
      border: 1px solid lightgray;
      height: 500px;
      background-color: white;
    }
    #all{
      width: 351px;
    }
    #insta{
      text-align: center;
      font-size: 40px;
    }
    #username{
      width: 284px;
      margin: auto;
    }
    #text{
      width: 280px;
      height: 30px;
      padding-left: 5px;
    }
    #password{
      width: 284px;
      margin: auto;
    }
    #pass{
      width: 280px;
      height: 30px;
      border-right-width: 2px;
      border-left-width: 2px;
      padding-right: 0px;
      margin-top: 8px;
      padding-left: 5px;
    }
    #login{
      width: 56px;
      margin-left: 32px;
      margin-right: 0px;
      margin-top: 10px;
    }
    #login1{
      width: 290px;
      background-color: #3897f0;
      border: #3897f0;
      border-radius: 2px;
      height: 32px;
      color: White;
      font-size: 20px;
    }
    #or{
      width: 33px;
      margin: auto;
    }
    #second_login{
      width: 170px;
      margin: auto;
      height: 30px;
    }
    #two{
      width: 348px;
      margin-left: 0px;
      margin-right: 40px;
      height: 60px;
      border: 1px solid lightgray;
      margin-top: 20px;
      background-color: white;
    }
    #app{
        margin-top: 10px;
    }
    #_login{
      width: 56px;
      margin-left: 32px;
      margin-right: 0px;
      margin-top: 10px;
    }
    #_login1{
      width: 290px;
      background-color: #3897f0;
      border: #3897f0;
      border-radius: 2px;
      height: 32px;
      color: White;
      font-size: 20px;
    }
    #user{
      width: 284px;
      margin: auto;
    }
    #user1{
      width: 280px;
      height: 30px;
      border-right-width: 2px;
      border-left-width: 2px;
      padding-right: 0px;
      margin-top: 8px;
      padding-left: 5px;
    }
    #psw{
      width: 284px;
      margin: auto;
    }
    #psw1{
      width: 280px;
      height: 30px;
      border-right-width: 2px;
      border-left-width: 2px;
      padding-right: 0px;
      margin-top: 8px;
      padding-left: 5px;
    }
    </style>
  </head>

  <body>
    <div id="image">
      <img src="/images/abc.png">
    </div>

    <div id="include">

      <div id="one">
        <div id="all">
          <p id="insta" style="
    margin-bottom: 10px;
">Instagram</p>
        </div>
        <div id="explain">
          <p id="ex" style="
    text-align: Center;
    width: 300px;
    margin-left: 20px;
    margin-top: 0px;
">친구들의 사진과 동영상을 보려면 가입하세요</p>
        </div>
        <div id="_login">

          <input id="_login1" type="button" value="Facebook으로 로그인" onclick="login()">

        </div>
        <div id="or">
          <p style="
    width: 45px;
">또는</p>
        </div>
        <div id="username">
        <input id="text" type="text" placeholder="휴대폰번호 또는 이메일 주소">
        </div>
        <div id="password">
          <input id="pass" type="text" placeholder="성명">
        </div>
        <div id="user">
        <input id="user1" type="text" placeholder="사용자이름">
        </div>
        <div id="psw">
        <input id="psw1" type="text" placeholder="비밀번호">
        </div>
        <div id="login">

          <input id="login1" type="button" value="가입" onclick="login()">

        </div>

        <div id="second_login">
          <p style="
    color: #3897f0;
">Facebook으로 로그인</p>
        </div>
      </div>
      <div id="two">
        <p style="
    width: 250px;
    margin-top: 20px;
    margin-left: 64px;
">계정이 없으신가요? <b style="
    color: #3890f7;
">가입하기</b></p>
      </div>
      <div id="app">
        <img src="/images/앱다운.png" style="
    width: 340px;
">
      </div>
    </div>

<script>


    function login(){
      var name=document.getElementById('text').value;
      var password=document.getElementById('pass').value;
      alert("이름: "+ name +"\n"+ "비밀번호: " + password +"\n"+ "이름,비밀번호: "+name+" "+ password);

    }
</script>




</body></html>
